@css { /*  CSS3 Clases - Luis Gago Casas */ }
@import 'nib/vendor'
@import 'simplegrid'
@import 'keyframes'
vendor-prefixes = o ms moz webkit
@font-face
	font-family: 'Quicksand'
	font-style: normal
	font-weight: 400
	src: local('Quicksand Regular'), local('Quicksand-Regular'), url(//fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvW1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2')
@font-face
	font-family: 'Montserrat'
	font-style: normal
	font-weight: 400
	src: local('Montserrat-Regular'), url(//fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2')
@font-face
	font-family: 'Crimson Text'
	font-style: normal
	font-weight: 400
	src: local('Crimson Text'), local('CrimsonText-Roman'), url(//fonts.gstatic.com/s/crimsontext/v6/3IFMwfRa07i-auYR-B-zNegdm0LZdjqr5-oayXSOefg.woff2) format('woff2')
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	ms-border-radius arguments
	o-border-radius arguments
	border-radius arguments
appearance()
	-webkit-appearance arguments
	-moz-appearance arguments
	ms-appearance arguments
	o-appearance arguments
	appearance arguments
box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	ms-box-shadow arguments
	o-box-shadow arguments
	box-shadow arguments
transform()
	-webkit-transform arguments
	-moz-transform arguments
	ms-transform arguments
	o-transform arguments
	transform arguments
transition()
	-webkit-transition arguments
	-moz-transition arguments
	ms-transition arguments
	o-transition arguments
	transition arguments
flex()
	-webkit-box-flex arguments
	-moz-box-flex arguments
	-webkit-flex arguments
	-ms-flex arguments
	o-flex arguments
	flex arguments
flexbox()
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	ms-box-shadow arguments
	o-box-shadow arguments
	box-shadow arguments
zoom()
	-ms-zoom arguments
	-webkit-zoom arguments
	zoom arguments
background-size()
	-webkit-background-size arguments
	-moz-background-size arguments
	ms-background-size arguments
	o-background-size arguments
	background-size arguments
user-select()
	-webkit-user-select arguments
	-moz-user-select arguments
	-ms-user-select arguments
	user-select arguments
body
	background #3A74B5
	color #515151
	font-family: 'Quicksand', sans-serif
	font-size 16px
*, *:after, *:before
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    box-sizing border-box
	margin 0
a
	color #000
	text-decoration none
ul
	margin 0px
	padding 0px 0px 0px 15px
li
	list-style none
h1
	padding: 10px 0px 0px 0px
//Estructura
.wrapper
	flexbox()
	flex-flow: row wrap
	width: 100%
	margin: 0 auto
	background white
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5)
.wrapper > *
	padding: 10px
	flex: 1 100%
.header,.footer,.section
	flexbox()
	flex-flow: row wrap
.header
	background: white
	padding: 5px 10px 0px 10px
	position relative
.footer
	background: #323131
	color: #A8A8A8
	align-items: center
.main
	//background: deepskyblue
.aside-1
	background #323131
	color white
//Comunes
.center
	text-align center
.left
	text-align left
.right
	text-align right
.relative
	position relative
	padding-right 0px !important
.sinpadding
	padding 0
.puntero
	cursor pointer
//Header
.header-logo
	flex 4
	order 1
	height 60px
	font-size: 1.5em
	flexbox()
	align-items: center
	justify-content: center
.header-menu
	flex 1
	order 2
	flexbox()
	flex-direction: row-reverse
#navicon
	font-size: xx-large
	flexbox()
	cursor pointer
	align-items center
	height 60px
.menuprincipal
	margin: 0
	transition: height .5s ease-out
	height 0
	text-align center
	ul
		position absolute
		left 0
		right 0
		top 65px
		padding 0
		li
			display inline-block
			a
				padding 15px 10px 15px 10px
				display block
				font-size: 1.5em
				border-bottom: 5px solid transparent
				&:hover
					background #E2E2E2
					border-bottom: 5px solid #215EBB
.efecto1
	height 125px
	display block
.efecto2
	display block !important
	animated()
	animatedbounceIn()
.efecto3
	display block !important
	animated()
	animatedbounceOutUp()
#entrar
	margin: 10px 5px 0px 5px
	display: inline-block
	vertical-align: middle
	border-bottom: 3px dotted white
	line-height: 20px
	color: white
//Main
.main,.aside
	padding 0
#slider
	overflow: hidden
	figure
		position: relative
		width: 500%
		margin: 0
		left: 0
		text-align: left
		font-size: 0
		animation: 30s slidy infinite
		img
			width: 20%
			float: left
.slider
	width 100%
	float left
	height auto
	//background-color #000
	display inline-block
	.caption
		position: absolute
		display: block
		bottom: 0
		left: 0
		right: 0
		padding: 15px
		text-align: center
		background: #000
		background: rgba(0,0,0, .8)
		color: #fff
	.banner
		width 100%
		height auto
		display inline-table
		background #FFFFFF
		vertical-align top
		overflow hidden
		.rslides
			position relative
			list-style none
			overflow hidden
			width 100%
			padding 0
			margin 0
			li
				-webkit-backface-visibility hidden
				position absolute
				display none
				width 100%
				left 0
				top 0
			&:first-child
				position relative
				display block
				float left
			img
				display block
				height auto
				float left
				width 100%
				border 0
		.rslides_container
			margin-bottom 0px
			position relative
			float left
			width 100%
		.centered-btns_nav
			z-index 3
			position absolute
			-webkit-tap-highlight-color rgba(0,0,0,0)
			top 50%
			left 0
			opacity 0
			text-indent -9999px
			overflow hidden
			text-decoration none
			height 61px
			width 38px
			background transparent url("../img/themes.gif") no-repeat left top
			margin-top -45px
			&:active
				opacity 1.0
			&.prev
				border-radius 0px 15px 15px 0px
			&.next
				left auto
				background-position right top
				right 0
				border-radius 15px 0px 0px 15px
		.transparent-btns_nav
			z-index 3
			position absolute
			-webkit-tap-highlight-color rgba(0,0,0,0)
			top 0
			left 0
			display block
			background #fff
			opacity 0
			width 48%
			text-indent -9999px
			overflow hidden
			height 91%
			&.next
				left auto
				right 0

		.large-btns_nav
			z-index 3
			position absolute
			-webkit-tap-highlight-color rgba(0,0,0,0)
			opacity 0
			text-indent -9999px
			overflow hidden
			top 0
			bottom 0
			left 0
			background #000 url("../img/themes.gif") no-repeat left 50%
			width 38px

			&:active
				opacity 1.0

			&.next
				left auto
				background-position right 50%
				right 0

		&:hover
			.centered-btns_nav, .large-btns_nav
				opacity 0.5
//Section - Noticias
.section
	padding: 0px 40px 0px 40px
	h2
		width 100%
		margin 20px
.noticia
	width 50%
	padding 5px
	overflow: hidden
	box-sizing: border-box
	flexbox()
	flex-flow: row wrap
	h3
		font-size: 1em
	figure,.cont
		width 100%
	figure
		img
			width 100%
	.cont
		padding 1%

//Foter
footer
	div
		flex 1
	[class^="icon-"]
		font-size xx-large
		flexbox()
		justify-content center
		align-items center
		margin 10px
		//width 20%
.footer-derecha
	flexbox()
	//justify-content space-around
	justify-content: center
//iconos #2E4F82
.icon-facebook
	color #2E4F82
.icon-twitter
	color #2AA9E0
.icon-google
	color #B33F30
.icon-pinterest
	color #E71211
.icon-youtube
	color #C02C2F

@import 'media'