animated(duration = 1s)
	animation-duration duration
	animation-fill-mode both
animatedpulse()
	animation-name pulse
@keyframes pulse
	0%
		transform scale(1)
	50%
		transform scale(1.1)
	100%
		transform scale(1)