@media all and (max-width: 362px)
	.wrapper
		width 100%
	.noticia
		width 100%
@media all and (min-width: 1000px)
	//El todo
	.wrapper
		width 90%
	//header
	.header-logo
		flex 1
	.header-menu
		flex 3
		text-align: center
	.menuprincipal
		width 100%
		margin 0
		height: auto
		text-align right
		ul
			position relative
			top 0
			left 0
			right 0
			li
				//border-right: 2px solid #ECECEC
				a
					margin -5px 0px 0px 0px
					transition: 0.2s
					position relative
					border-top: 5px solid transparent
					border-bottom: 0
					&:hover
						border-top: 5px solid #215EBB
						border-bottom: 0
				&:nth-child(-n+3) //Los 3 primeros
					a
						&:before
							height: 1.5em
							border-right: 1px solid #ECECEC
							content: ''
							position: absolute
							top: 10px
							right: 0
	#navicon
		display none
	.acceder
		margin: 17px 0px 0px 0px
	.main
		flex 3
		order 1
	.aside-1
		flex 1
		order 2
	.section
		order 3
		padding: 10px
	.noticia
		width 25%
	//Footer
	footer
		div
			flex 1
			width auto
	.footer
		order 4