@media all and (max-width: 362px)
	.wrapper
		width 100%
	.noticia
		width 100%
@media all and (min-width: 800px)
	.footer-izquierda
		flex 1
	.footer-centro
		flex 1
	.footer-derecha
		flex 1
		.columna
			justify-content space-between
		.medio
			align-self center
@media all and (min-width: 1000px)
	//header
	.header-izquierda
		flex 1
	.header-centro
		flex 4
	.header-derecha
		flex 1
		text-align: center
	.logotipo
		width 160px
	.menuprincipal
		width 100%
		margin 0
		height: auto
		ul
			li
				display inline-block
				//border-right: 2px solid #ECECEC
				a
					margin -5px 0px 0px 0px
					border-top: 5px solid transparent
					transition: 0.2s
					position relative
					padding 25px 10px 10px 10px
					&:hover
						border-top: 5px solid #ff4842
				&:nth-child(-n+3) //Los 3 primeros
					a
						&:before
							height: 1.5em
							border-right: 1px solid #ECECEC
							content: ''
							position: absolute
							top: 25px
							right: 0
	#navicon
		display none
	.acceder
		margin: 17px 0px 0px 0px
	.main
		flex 3
		order 1
	.aside-1
		flex 1
		order 2
	.section
		order 3
		padding: 10px
	.noticia
		width 20%
		flex 1
	//Footer
	.footer
		padding 0
		order 4