extends jade/base.jade
block titulo
	title Luis Gago Casas Blog | Intereses sobre Desarrollo Web
block contenido
	section.section.blog_articulo
		article.noticia
			.img_resumen
				figure
					img(src="http://lorempixel.com/1000/300/business/")
				.cont
					a(href="#")
						h2.titulo Lorem ipsum dolor sit amet
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!nobis, nisi fuga impedit!nobis, nisi fuga impedit!nobis, nisi fuga impedit! nobis, nisi fuga impedit!nobis, nisi fuga impedit!nobis, nisi fuga impedit! nobis, nisi fuga impedit!nobis, nisi fuga impedit!nobis, nisi fuga impedit!
			.datos
				.icon-clock 30 de mayo
				.icon-tag
					a(href="") developer
					a(href="") frontend
					a(href="") backend
			.conte
				.descrip
					h1 hola
					h2 hola
					h3 hola
					h4 hola
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, enim! consectetur adipisicing elit. Fugiat, enim! consectetur adipisicing elit. Fugiat, enim!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, enim!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, enim!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, enim!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, enim!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, enim! consectetur adipisicing elit. Fugiat, enim! consectetur adipisicing elit. Fugiat, enim! consectetur adipisicing elit. Fugiat, enim!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, enim!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, enim!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, enim!
					.fb-comments(data-href="http://developers.facebook.com/docs/plugins/comments/", data-width="100%", data-numposts="5")
				.recomen
					article.noticias
						figure.imagen
							a(href="blog_articulo.html")
								img(src="img/noticia.jpg")
						.cont
							a(href="blog_articulo.html")
								h4 Lorem ipsum dolor sit amet
					article.noticias
						figure.imagen
							a(href="#")
								img(src="img/noticia.jpg")
						.cont
							a(href="#")
								h4 Lorem ipsum dolor sit amet
					article.noticias
						figure.imagen
							a(href="#")
								img(src="img/noticia.jpg")
						.cont
							a(href="#")
								h4 Lorem ipsum dolor sit amet

