extends jade/base.jade
block titulo
	title Luis Gago Casas Blog | Intereses sobre Desarrollo Web
block contenido
	section.section.blog
		article.noticia
			figure
				a(href="blog_articulo.html")
					img(src="img/noticia.jpg")
			.cont
				a(href="blog_articulo.html")
					h3 Lorem ipsum dolor sit amet
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!
		article.noticia
			figure
				a(href="#")
					img(src="img/noticia.jpg")
			.cont
				a(href="#")
					h3 Lorem ipsum dolor sit amet
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!
		article.noticia
			figure
				a(href="#")
					img(src="img/noticia.jpg")
			.cont
				a(href="#")
					h3 Lorem ipsum dolor sit amet
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!
		article.noticia
			figure
				a(href="#")
					img(src="img/noticia.jpg")
			.cont
				a(href="#")
					h3 Lorem ipsum dolor sit amet
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!
		article.noticia
			figure
				a(href="#")
					img(src="img/noticia.jpg")
			.cont
				a(href="#")
					h3 Lorem ipsum dolor sit amet
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!

		article.noticia
			figure
				a(href="#")
					img(src="img/noticia.jpg")
			.cont
				a(href="#")
					h3 Lorem ipsum dolor sit amet
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!
		article.noticia
			figure
				a(href="#")
					img(src="img/noticia.jpg")
			.cont
				a(href="#")
					h3 Lorem ipsum dolor sit amet
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!
		article.noticia
			figure
				a(href="#")
					img(src="img/noticia.jpg")
			.cont
				a(href="#")
					h3 Lorem ipsum dolor sit amet
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!
		article.noticia
			figure
				a(href="#")
					img(src="img/noticia.jpg")
			.cont
				a(href="#")
					h3 Lorem ipsum dolor sit amet
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!
		article.noticia
			figure
				a(href="#")
					img(src="img/noticia.jpg")
			.cont
				a(href="#")
					h3 Lorem ipsum dolor sit amet
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!
		article.noticia
			figure
				a(href="#")
					img(src="img/noticia.jpg")
			.cont
				a(href="#")
					h3 Lorem ipsum dolor sit amet
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!