extends jade/base.jade
block titulo
	title Luis Gago Casas Contacto | Intereses sobre Desarrollo Web
block contenido
	section.section.contacto
		article.noticia
			.img_resumen
				figure
					img(src="http://lorempixel.com/1000/300/business/")
				.cont
					a(href="#")
						h2.titulo Lorem ipsum dolor sit amet,
					p Lorem ipsum dolor sit amet,
			.contenido
				form(action="", class="contac")
					label(for="nombres")
						input(type="text")
					label(for="correo")
						input(type="mail")
					label(for="telefono")
						input(type="tel")