extends jade/base.jade
block titulo
	title Luis Gago Casas Contacto | Intereses sobre Desarrollo Web
block contenido
	section.section.contacto
		article.noticia
			.img_resumen
				figure
					img(src="http://lorempixel.com/1000/300/business/")
				.cont
					a(href="#")
						h2.titulo Lorem ipsum dolor sit amet,
					p Lorem ipsum dolor sit amet,
			.contenido
				.formulario
					form(action="", class="contac")
						label(for="nombres") Nombres y Apellidos
							input(type="text")
						label(for="correo") Correo
							input(type="mail")
						label(for="telefono") Telefono
							input(type="tel")
						label(for="descripcion") Descripción
							textarea(name="", rows="6", class="textarea")
						button(type="submit", class="enviar") Enviar
				.descripcion
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error maxime sequi adipisci magni alias dolorum corporis quo est, vitae aliquid?