extends jade/base.jade
block titulo
	title Luis Gago Casas CV | Intereses sobre Desarrollo Web
block contenido
	section.section.cv
		article.noticia
			.img_resumen
				figure
					img(src="http://lorempixel.com/1000/300/business/")
				.cont
					a(href="#")
						h2.titulo Que es lo que hice.
					p Nunca dejar de actualizarce.
			.contenido
				h3 2008
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, dolorem.
				h3 2009
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, harum.
				h3 2010
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repellendus!
				h3 2011
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, numquam!
				h3 2008
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, dolorem.
				h3 2009
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, harum.
				h3 2010
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repellendus!
				h3 2011
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, numquam!
				h3 2008
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, dolorem.
				h3 2009
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, harum.
				h3 2010
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repellendus!
				h3 2011
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, numquam!
				h3 2008
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, dolorem.
				h3 2009
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, harum.
				h3 2010
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repellendus!
				h3 2011
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, numquam!
				