!!! 5
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title Portada Plataforma Educativa
		link(rel="shortcut icon" href="img/favicon.ico")
		link(href="https://fontastic.s3.amazonaws.com/AEn6rjUj6AnGuW2HW2DKCe/icons.css", rel="stylesheet")
		link(href="css/index.css", rel="stylesheet")
	body
		.wrapper
			header.header
				.header-izquierda.center
					img(src="img/plataforma.png", alt="Plataforma Educativa", class="logotipo")
				.header-centro
					nav.menuprincipal.center
						ul
							li
								a(href="#") Quienes Somos
								a(href="#") Nuestros Cursos
								a(href="#") Modelo Educativo
								a(href="#") Contacto
					//span.icon-facebook.header-icon
					//span.icon-google.header-icon
					//span.icon-pinterest.header-icon
					//span.icon-twitter.header-icon
					//span.icon-youtube.header-icon
					//a(href="#" id="entrar") Entrar
					//#login
						form(action="")
							label(for="usuario") Usuario
								input(type="text", name="usuario", id="usuario")
							label(for="contrasenia") Contraseña
								input(type="password", name="contrasenia", id="contrasenia")
				.header-derecha.center
					a(href="#", class="icon-navicon" id="navicon")
			article.main
				#slider
					figure
						img(src="http://lorempixel.com/1000/600/abstract/")
						img(src="http://lorempixel.com/1000/600/animals/")
						img(src="http://lorempixel.com/1000/600/business/")
						img(src="http://lorempixel.com/1000/600/cats/")
						img(src="http://lorempixel.com/1000/600/city/")
			aside.aside.aside-1
				.center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ex, nobis iste atque blanditiis sequi neque est quidem, perspiciatis deserunt dolor minus eum nesciunt sed molestiae magnam fugiat aperiam odit tempora, nulla facere quisquam dolore natus. Ea doloribus, cumque, rerum vel cum voluptate, accusantium aspernatur sit dolores magnam culpa ullam.
			section.section
				article.noticia
					figure
						img(src="img/noticia.jpg")
					.cont
						h2 Lorem ipsum dolor sit amet
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!

				article.noticia
					figure
						img(src="img/noticia.jpg")
					.cont
						h2 Lorem ipsum dolor sit amet
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!
				article.noticia
					figure
						img(src="img/noticia.jpg")
					.cont
						h2 Lorem ipsum dolor sit amet
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!
				article.noticia
					figure
						img(src="img/noticia.jpg")
					.cont
						h2 Lorem ipsum dolor sit amet
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!
			footer.footer
				.footer-izquierda
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.footer-centro
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci excepturi possimus, rem neque unde, culpa.
				.footer-derecha
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit.

	script(src="js/index.js")