!!! 5
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title Luis Gago Casas
		link(rel="shortcut icon" href="img/favicon.ico")
		link(href="https://fontastic.s3.amazonaws.com/AEn6rjUj6AnGuW2HW2DKCe/icons.css", rel="stylesheet")
		link(href="css/index.css", rel="stylesheet")
	body
		.wrapper
			header.header
				.header-logo
					| Luis Gago Casas
				.header-menu
					nav.menuprincipal
						ul
							li
								a(href="#") Yo
							li
								a(href="#") Blog
							li
								a(href="#") CV
							li
								a(href="#") Contacto
					a(href="#", class="icon-navicon" id="navicon")
			article.main
				.slider
					.banner
						.rslides_container
							ul(class="rslides", id="slider1")
								li
									a(href="#")
										img(src="http://lorempixel.com/1000/400/business/1/Plataforma Educativa/")
										p.caption Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, quis.
								li
									a(href="#")
										img(src="http://lorempixel.com/1000/400/business/2/Plataforma Educativa/", title="chau")
								li
									a(href="#")
										img(src="http://lorempixel.com/1000/400/business/3/Plataforma Educativa/")
								li
									a(href="#")
										img(src="http://lorempixel.com/1000/400/business/4/Plataforma Educativa/")
								li
									a(href="#")
										img(src="http://lorempixel.com/1000/400/business/5/Plataforma Educativa/")
			aside.aside.aside-1
				.center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ex, nobis iste atque blanditiis sequi neque est quidem, perspiciatis deserunt dolor minus eum nesciunt sed molestiae magnam fugiat aperiam odit tempora, nulla facere quisquam dolore natus. Ea doloribus, cumque, rerum vel cum voluptate, accusantium aspernatur sit dolores magnam culpa ullam.
			section.section
				article.noticia
					figure
						img(src="img/noticia.jpg")
					.cont
						h3 Lorem ipsum dolor sit amet
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!

				article.noticia
					figure
						img(src="img/noticia.jpg")
					.cont
						h3 Lorem ipsum dolor sit amet
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!
				article.noticia
					figure
						img(src="img/noticia.jpg")
					.cont
						h3 Lorem ipsum dolor sit amet
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!
				article.noticia
					figure
						img(src="img/noticia.jpg")
					.cont
						h3 Lorem ipsum dolor sit amet
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quo a eaque quae quidem doloremque maiores nobis, nisi fuga impedit!
			footer.footer
				.footer-izquierda.center
					p Arequipa - Perú
				.footer-centro.center
					p E - mail: luisgago@lagc-peru.com
				.footer-derecha
					a(href="#" target="_blank" class="icon-facebook")
					a(href="#" target="_blank" class="icon-google")
					a(href="#" target="_blank" class="icon-pinterest medio")
					a(href="#" target="_blank" class="icon-twitter")
					a(href="#" target="_blank" class="icon-youtube")

	script(src="js/index.js")