!!! 5
html(lang="es")
	head
		meta(charset="UTF-8")
		title Portada Plataforma Educativa
		link(rel="shortcut icon" href="img/favicon.ico")
		link(rel="stylesheet", href="css/index.css")
	body
		.wrapper
			h1 Portada
	script(src="js/index.js")